body{
    letter-spacing: 2px;
    font-family: gluten;
    background-color: lightpink;
    color: midnightblue;
}

#score{
    font-size: 30px;
    margin-right: 1200px;
}

#timer{
    font-size: 30px;
    margin-left: 1200px;
}

#p1{
    color: red;
}

h1{
    font-family: Rampart One;
}